<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>My Gizmo — Batch Image Studio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
  <header class="header">
    <h1> My Gizmo — Batch Image Studio </h1>
    <p>Resize • Watermark • Beautify • Export</p>
  </header>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash-box">
      {% for cat,msg in messages %}
        <li class="{{cat}}">{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  <form action="/process" method="POST" enctype="multipart/form-data" class="card">
    <h2>Upload & Customize</h2>
    <div class="upload-box">
  <h3></h3>
  <label for="fileInput" class="custom-file-label">Choose Files</label>
  <input id="fileInput" type="file" name="images" accept="image/*" multiple required>
  <span id="file-name">No file chosen</span>
</div>

<div class="upload-box">
  <label for="watermarkInput" class="custom-file-label">Choose Watermark Image</label>
  <input id="watermarkInput" type="file" name="watermark_image" accept="image/*">
  <span id="watermark-name">No file chosen</span>
</div>

    <div class="grid">
      <div>
        <h3>Resize</h3>
        <label>Width (px): <input type="number" name="width"></label>
        <label>Height (px): <input type="number" name="height"></label>
        <label><input type="checkbox" name="keep_aspect" checked> Keep aspect ratio</label>
      </div>

      <div>
        <h3>Watermark (Text)</h3>
        <input type="text" name="watermark_text" placeholder="© MyGizmo">
        <label>Position:
          <select name="wm_position">
            <option>bottom-right</option><option>top-left</option><option>center</option>
          </select>
        </label>
        <label>Opacity: <input type="number" step="0.1" name="text_opacity" value="0.5"></label>
        <label>Text Size: <input type="number" name="text_size" value="24"></label>
      </div>

      <div>
        <h3>Watermark (Image)</h3>
        <label>Scale: <input type="number" step="0.1" name="image_scale" value="0.2"></label>
        <label>Opacity: <input type="number" step="0.1" name="img_opacity" value="0.5"></label>
      </div>

      <div>
        <h3>Output</h3>
        <label>Format:
          <select name="output_format">
            <option>JPEG</option><option>PNG</option><option>WEBP</option><option>PDF</option>
          </select>
        </label>
        <label>Quality (1–100): <input type="number" name="quality" value="90"></label>
      </div>
    </div>

    <button type="submit" class="btn"> Process & Download</button>
  </form>

  <footer><small>&copy;Made with by My Gizmo | Farsin Khan</small></footer>
</body>
</html>
